{% extends 'layout.twig' %}

{% block content %}
    <h1>Register!</h1>

    <form method="POST"
          action="/register"
          enctype="multipart/form-data"
          name="upload_form">

        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <input type="text" name="name" id="name">

        <label for="password" class="col-sm-2 col-form-label">Password:</label>
        <input type="text" name="password" id="password">

        <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password:</label>
        <input type="text" name="confirm_password" id="confirm_password">

        <button type="submit" name="register" value="1">Register</button>
    </form>


{% endblock %}
