{% extends 'layout.twig' %}

{% block content %}
    <h1>Welcome to the {{ title }}!</h1>

    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
{% endblock %}
