<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/main.css?v={{ ''|time }}">
    {% endblock %}
</head>
<body>

<div class="relative bg-white">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
